<div>
    <h2 id="page-heading">
        <span jhiTranslate="kyc5App.groupCd.home.title">Group Cds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-group-cd" [routerLink]="['/group-cd/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="kyc5App.groupCd.home.createLabel">
            Create new Group Cd
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="groupCds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kyc5App.groupCd.groupCd">Group Cd</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupCd of groupCds ;trackBy: trackId">
                <td><a [routerLink]="['/group-cd', groupCd.id, 'view' ]">{{groupCd.id}}</a></td>
                <td>{{groupCd.groupCd}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/group-cd', groupCd.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/group-cd', groupCd.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'group-cd/'+ groupCd.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
