<div>
    <h2 id="page-heading">
        <span jhiTranslate="kyc5App.bankInformation.home.title">Bank Informations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bank-information" [routerLink]="['/bank-information/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="kyc5App.bankInformation.home.createLabel">
            Create new Bank Information
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bankInformations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.bankName">Bank Name</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.ifscCode">Ifsc Code</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.micrCode">Micr Code</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.branchName">Branch Name</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.accountType">Account Type</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.accountNumber">Account Number</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.accountHolderName">Account Holder Name</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.bankAccountCommon">Bank Account Common</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.segementTypeCd">Segement Type Cd</span></th>
            <th><span jhiTranslate="kyc5App.bankInformation.applicationProspect">Application Prospect</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankInformation of bankInformations ;trackBy: trackId">
                <td><a [routerLink]="['/bank-information', bankInformation.id, 'view' ]">{{bankInformation.id}}</a></td>
                <td>{{bankInformation.bankName}}</td>
                <td>{{bankInformation.ifscCode}}</td>
                <td>{{bankInformation.micrCode}}</td>
                <td>{{bankInformation.branchName}}</td>
                <td>{{bankInformation.accountType}}</td>
                <td>{{bankInformation.accountNumber}}</td>
                <td>{{bankInformation.accountHolderName}}</td>
                <td>{{bankInformation.bankAccountCommon}}</td>
                <td>{{bankInformation.segementTypeCd}}</td>
                <td>
                    <div *ngIf="bankInformation.applicationProspectId">
                        <a [routerLink]="['../application-prospect', bankInformation.applicationProspectId , 'view' ]" >{{bankInformation.applicationProspectId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bank-information', bankInformation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bank-information', bankInformation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-information/'+ bankInformation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
