<div>
    <h2 id="page-heading">
        <span jhiTranslate="kyc5App.tradingInfo.home.title">Trading Infos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trading-info" [routerLink]="['/trading-info/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="kyc5App.tradingInfo.home.createLabel">
            Create new Trading Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tradingInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.segmentCd">Segment Cd</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.planCdEquity">Plan Cd Equity</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.planCdCommodity">Plan Cd Commodity</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.contractNoteMode">Contract Note Mode</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.tradingMode">Trading Mode</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.interestedInMobileTradeing">Interested In Mobile Tradeing</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.accountAuthFrequency">Account Auth Frequency</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.experienceYear">Experience Year</span></th>
            <th><span jhiTranslate="kyc5App.tradingInfo.experienceMonth">Experience Month</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tradingInfo of tradingInfos ;trackBy: trackId">
                <td><a [routerLink]="['/trading-info', tradingInfo.id, 'view' ]">{{tradingInfo.id}}</a></td>
                <td>{{tradingInfo.segmentCd}}</td>
                <td>{{tradingInfo.planCdEquity}}</td>
                <td>{{tradingInfo.planCdCommodity}}</td>
                <td>{{tradingInfo.contractNoteMode}}</td>
                <td>{{tradingInfo.tradingMode}}</td>
                <td>{{tradingInfo.interestedInMobileTradeing}}</td>
                <td>{{tradingInfo.accountAuthFrequency}}</td>
                <td>{{tradingInfo.experienceYear}}</td>
                <td>{{tradingInfo.experienceMonth}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/trading-info', tradingInfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trading-info', tradingInfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-info/'+ tradingInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
