<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-type-cd-heading" jhiTranslate="kyc5App.typeCd.home.createOrEditLabel">Create or edit a Type Cd</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!typeCd.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="typeCd.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kyc5App.typeCd.typeCd" for="field_typeCd">Type Cd</label>
                    <input type="text" class="form-control" name="typeCd" id="field_typeCd"
                        [(ngModel)]="typeCd.typeCd" required minlength="3" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.typeCd?.dirty && editForm.controls.typeCd?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.typeCd?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.typeCd?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.typeCd?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kyc5App.typeCd.typeDescription" for="field_typeDescription">Type Description</label>
                    <input type="text" class="form-control" name="typeDescription" id="field_typeDescription"
                        [(ngModel)]="typeCd.typeDescription" required maxlength="250"/>
                    <div [hidden]="!(editForm.controls.typeDescription?.dirty && editForm.controls.typeDescription?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.typeDescription?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.typeDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kyc5App.typeCd.groupCd" for="field_groupCd">Group Cd</label>
                    <select class="form-control" id="field_groupCd" name="groupCd" [(ngModel)]="typeCd.groupCdId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupCdOption.id" *ngFor="let groupCdOption of groupcds; trackBy: trackGroupCdById">{{groupCdOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
