<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tokenVerification">
            <h2><span jhiTranslate="kyc5App.tokenVerification.detail.title">Token Verification</span> {{tokenVerification.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kyc5App.tokenVerification.mobileNo">Mobile No</span></dt>
                <dd>
                    <span>{{tokenVerification.mobileNo}}</span>
                </dd>
                <dt><span jhiTranslate="kyc5App.tokenVerification.token">Token</span></dt>
                <dd>
                    <span>{{tokenVerification.token}}</span>
                </dd>
                <dt><span jhiTranslate="kyc5App.tokenVerification.status">Status</span></dt>
                <dd>
                    <span>{{tokenVerification.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/token-verification', tokenVerification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
