<div class="row content">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h5 class="header-content" id="jhi-nominee-heading" >Please declare your Nominee & Guardian details </h5>
            <div>
                <jhi-alert-error></jhi-alert-error>
                
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kyc5App.nominee.nomineeName" for="field_nomineeName">Nominee Name</label>
                    <input type="text" class="form-control" name="nomineeName" id="field_nomineeName"
                        [(ngModel)]="nominee.nomineeName" required/>
                    <div [hidden]="!(editForm.controls.nomineeName?.dirty && editForm.controls.nomineeName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nomineeName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kyc5App.nominee.relationShip" for="field_relationShip">Relation Ship</label>
                     <select class="form-control" name="relationShip" id="field_relationShip" [(ngModel)]="nominee.relationShip" required>
                                <option>MOTHER</option>
                                <option>FATHER</option>
                                <option>BROTHER</option>
                                <option>SON</option>
                                <option>DAUGHTER</option>
                                <option>SPOUSE</option>
                                
                        </select>
                    
                   
                    <div [hidden]="!(editForm.controls.relationShip?.dirty && editForm.controls.relationShip?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.relationShip?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kyc5App.nominee.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker  #dateOfBirthDp="ngbDatepicker" [(ngModel)]="nominee.dateOfBirth"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateOfBirth?.dirty && editForm.controls.dateOfBirth?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateOfBirth?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kyc5App.nominee.guardianName" for="field_guardianName">Guardian Name</label>
                    <input type="text" class="form-control" name="guardianName" id="field_guardianName"
                        [(ngModel)]="nominee.guardianName" required/>
                    <div [hidden]="!(editForm.controls.guardianName?.dirty && editForm.controls.guardianName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.guardianName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                 <button type="button" id="cancel-save" class="btn btn-primary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span >Previous</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span >Save & Next </span>
                </button>
            </div>
        </form>
    </div>
</div>
