<div>
    <h2 id="page-heading">
        <span jhiTranslate="kyc5App.identityVerification.home.title">Identity Verifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-identity-verification" [routerLink]="['/identity-verification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="kyc5App.identityVerification.home.createLabel">
            Create new Identity Verification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="identityVerifications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kyc5App.identityVerification.adhaarNo">Adhaar No</span></th>
            <th><span jhiTranslate="kyc5App.identityVerification.aadharNoVerified">Aadhar No Verified</span></th>
            <th><span jhiTranslate="kyc5App.identityVerification.panNo">Pan No</span></th>
            <th><span jhiTranslate="kyc5App.identityVerification.panNoVerified">Pan No Verified</span></th>
            <th><span jhiTranslate="kyc5App.identityVerification.dateOfBirth">Date Of Birth</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let identityVerification of identityVerifications ;trackBy: trackId">
                <td><a [routerLink]="['/identity-verification', identityVerification.id, 'view' ]">{{identityVerification.id}}</a></td>
                <td>{{identityVerification.adhaarNo}}</td>
                <td>{{identityVerification.aadharNoVerified}}</td>
                <td>{{identityVerification.panNo}}</td>
                <td>{{identityVerification.panNoVerified}}</td>
                <td>{{identityVerification.dateOfBirth | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/identity-verification', identityVerification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/identity-verification', identityVerification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'identity-verification/'+ identityVerification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
